*{
    box-sizing: border-box;
}

body{
    background: #fff;
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    /* background: #ccc; */
}

header{
    background: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 600px;
}

header nav.menu{
    margin: 40px 0;
    text-align: right;
}

header nav.menu a{
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    padding-bottom: 9px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header nav.menu a:hover{
    border-bottom: 2px solid #fff;
}

header .contenedor-texto{
    margin: 190px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

header .contenedor-texto .texto{
    border: 2px solid rgba(255, 255, 255, .5);
    padding: 20px 40px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    background: rgba(0, 0, 0, .2);
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2{
    margin: 0;
    color: #fff;
    font-weight: 300;
}

header .contenedor-texto .texto h1{
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}

header .contenedor-texto .texto h2{
    font-size: 25px;
    line-height: 25px;
}

.main .acerca-de{
    text-align: center;
}

.main .acerca-de .contenedor{
    overflow: visible;
    padding-bottom: 20px;
}

.main .acerca-de .foto{
    margin-top: -55px;
}

.main .acerca-de .foto img{
    vertical-align: top;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, .5);
}

.main .acerca-de .texto{
    margin-top: 20px;
    padding: 0 40px;
    line-height: 30px;
}

.main .acerca-de .texto .titulo{
    color: rgb(65, 60, 71);
    font-weight: 300;
    font-size: 34px;
}

.main .trabajos{
    background: #f2f2f2;
}

.main .trabajos .contenedor{
    margin-top: 40px;
    padding: 20px 0;
}

.main .trabajos .titulo{
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 40px;
}

.main .trabajos .contenedor-trabajos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .trabajos .contenedor-trabajos .trabajo{
    width: 23%;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb{
    width: 100%;
    margin: 20px 0;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img{
    width: 100%;
    vertical-align: top;
    border-radius: 5px;
    opacity: .6;
    cursor: pointer;
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img:hover{
    opacity: 1;
}


.main .trabajos .contenedor-trabajos .trabajo .descripcion{
    text-align: center;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre{
    font-weight: 700;
    color: rgb(23, 122, 202);
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria{
    font-weight: 600;
    font-size: 14px;
}

footer{
    overflow: hidden;
}

footer .contacto .titulo{
    text-align: center;
    font-size: 34px;
    font-weight: 300;
    margin-bottom: 40px;

}

footer .contacto .formulario{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #ccc;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
    width: 45%;
}





footer .contacto .formulario textarea{
    margin-top: 20px;
    width: 100%;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;
    
}

footer .contacto .formulario input[type="submit"]{
    display: block;
    margin: 20px auto 0px auto;
    padding: 10px 20px;
    background: none;
    border: 1px solid rgb(23, 122, 202);
    font-size: 18px;
    color: rgb(23, 122, 202);
    border-radius: 5px;

}

footer .contacto .formulario input[type="submit"]:hover{
    color: #fff;
    background: rgb(23, 122, 202);
}

footer .redes-sociales{
    margin-top: 40px;
    background: rgb(11, 44, 71);
    
}

footer .redes-sociales .contenedor{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

footer .redes-sociales a{
    display: block;
    font-size: 50px;
}

footer .redes-sociales .youtube{
    color: #c4302b;
}

footer .redes-sociales .facebook{
    color: #3b5998;
}

footer .redes-sociales .twitter{
    color:#00acee ;
}

footer .redes-sociales .github{
    color: #fff;

}

footer .redes-sociales .instagram{
    color: #3f729b;
}

@media screen and (max-width:1000px){
    header nav.menu{
        text-align: center;
    }

    .main .trabajos .contenedor-trabajos .trabajo{
        width: 30%;
    }

}

@media screen and (max-width:650px){
    footer .contacto .formulario textarea{
        margin-top: 0px;
    }
    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"],
    footer .contacto .formulario textarea{
        width: 100%;
        margin-bottom: 20px;
    }

    footer .redes-sociales a{
        font-size: 30px;
    }


}

@media screen and (max-width:550px){
    .main .trabajos .contenedor-trabajos .trabajo{
        width: 43%;
    }


}








