.forma{
    background: #000;
    width: 200px;
    height: 200px;
    color: #fff;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin: 20px;
}