.forma{
    width: 100px;
    height: 100px;
    background: #000;
    display: inline-flex;
    margin: 10px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    color: #fff;
}