.cronometro{
    width: 200px;
    height: 100px;
    background: #000;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border-radius: 5px;
}
.mensaje{
    width: 40%;
    margin: 0 auto;
}

.mensaje p{
    
}