<h4>Formularios <small> Reactivo </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label" >Nombre</label>
            <div class="col">

                <input 
                    class="form-control" 
                    type="text" 
                    placeholder="Nombre"
                    formControlName="nombre"
                    [class.is-invalid]="nombreNoValido"
                >
                <small class="form-text text-danger" *ngIf="nombreNoValido">Ingrese al menos 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label" >Apellido</label>
            <div class="col">

                <input 
                    class="form-control" 
                    type="text" 
                    placeholder="Apellido"
                    formControlName="apellido"
                    [class.is-invalid]="apellidoNoValido"
                >
                <small class="form-text text-danger" *ngIf="apellidoNoValido">Ingrese al menos 5 letras</small>
            </div>
        </div>

    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col">

            <input 
                class="form-control" 
                type="email" 
                placeholder="Correo electrónico"
                formControlName="correo"
                [class.is-invalid]="correoNoValido"
            >
            <small class="form-text text-danger" *ngIf="correoNoValido">Ingrese un correo valido</small>
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-2 col-form-label">Usuario</label>
        <div class="col">

            <input 
                class="form-control" 
                type="text" 
                placeholder="Nombre de usuario"
                formControlName="usuario"
                [class.is-invalid]="usuarioNoValido"
            >
            <small class="form-text text-danger" *ngIf="usuarioNoValido">Ingrese un usuario valido</small>
        </div>
    </div>

    <div class="form-group row">
        <label for="" class="col-form-label col-2">Contraseña</label>
        <div class="col">
            <input 
            type="text"
            class="form-control"
            placeholder="Contraseña"
            formControlName="pass1"
            [class.is-invalid]="pass1NoValido">
            
        </div>
    </div>

    <div class="form-group row">
        <label for="" class="col-form-label col-2">Repita</label>
        <div class="col">     
            <input 
            type="text"
            class="form-control"
            placeholder="Repita Contraseña"
            formControlName="pass2"
            [class.is-invalid]="pass2NoValido"
            >
            
        </div>
    </div>


    <div class="form-group row" formGroupName="direccion">
        <label for="" class="col-form-label col-2">Direccion</label>
        <div class="form-row col">
            <div class="col">
                <input 
                    type="text" 
                    name="distrito" 
                    id="distrito" 
                    class="form-control" 
                    placeholder="Distrito"
                    formControlName="distrito"
                    [class.is-invalid]="distritoNoValido"
                >
                <small class="form-text text-danger" *ngIf="distritoNoValido">Ingrese el distrito</small>
            </div>
            <div class="col">
                <input 
                    type="text" 
                    name="ciudad" 
                    id="ciudad" 
                    class="form-control" 
                   placeholder="Ciudad"
                   formControlName="ciudad"
                   [class.is-invalid]="ciudadNoValido"
                >
                <small class="form-text text-danger" *ngIf="ciudadNoValido">Ingrese el distrito</small>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Pasatiempo</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody formArrayName="pasatiempos">
                    <tr *ngFor="let control of pasatiempos.controls; let i = index">
                        <td>
                            {{i + 1}}
                        </td>
                        <td>
                            <input type="text" class="form-control" [formControlName]="i">
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger" (click)="borrarPasatiempo(i)">Borrar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-outline-primary btn-block mt-3 mb-5" type="button" (click)="agregarPasatiempo()">+ Agregar</button>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>

</form>

<hr>
<pre>
    Estado del formulario: {{forma.valid}}
    <br>
    Status: {{forma.status}}
</pre>

<pre>
    {{forma.value | json}}
</pre>  