<h1>Chat</h1>
<hr>
<div class="app-mensajes" id="app-mensajes">

    <div [ngClass]="{'text-right': _cs.usuario.uid === chat.uid}" *ngFor="let chat of _cs.chats">
        <span class="badge" [ngClass]="{'badge-primary': _cs.usuario.uid === chat.uid, 'badge-success': _cs.usuario.uid !== chat.uid}" >{{chat.nombre}}</span>
        <p>{{chat.mensaje}}</p>
    </div>

    <!-- <div class="text-right">
        <span class="badge badge-primary">Nestor</span>
        <p>Este es un mensaje de chat</p>
    </div>

    <div>
        <span class="badge badge-success">Canela</span>
        <p>Saludos Nestor</p>
    </div> -->
</div>

<input id="mensajeInput" class="form-control" [disabled]="mensajeDisable" type="text" name="mensaje" [(ngModel)]="mensaje" placeholder="Enviar Mensaje" (keyup.enter)="enviar_mensaje()">

