<div class="row mt-3">
	<div class="col-12">
		<h2 class="display-5">Alumnos Seleccionado</h2>
		<hr>
			<form ng-submit="editar()">
				<div class="form-group">
				    <label for="codigo">Codigo:</label>
				    <input type="text" class="form-control" id="codigo" ng-model="alumno.codigo" readonly>
				</div>
				<div class="form-group">
				    <label for="nombre">Nombre:</label>
				    <input type="text" class="form-control" id="nombre" ng-model="alumno.nombre" placeholder="Ingrese el nombre">
				</div>
				<div class="form-group">
				    <label for="telefono">Telefono:</label>
				    <input type="text" class="form-control" ng-model="alumno.telefono" id="telefono" placeholder="Ingrese el telefono">
				</div>
				
				<div class="form-group">
				    <label for="direccion">Direccion:</label>
				    <textarea name="direccion" ng-model="alumno.direccion" class="form-control" id="direccion" ></textarea>
				</div>
				
				<input type="submit" class="btn btn-primary mt-3" value="Guardar">

			</form>
			<p class="text-success mt-4" ng-show="mostrarGuardado">Registro Actualizado Correctamente</p>
		

	</div>
</div>