*{
    margin: 0;
    padding:0;
}

body{
    background: #000500;
}

.imagenes img{
    width: 400px;
    vertical-align: top;
    margin: 20px;
    border: 1px solid #484848;
    padding: 5px;
    opacity: 0.5;
}

.imagenes img:hover{
    opacity: 1;
    border: 1px solid #fff;
}