*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
    background: #ccc;
}

header{
    background: #30323d;
    color: #fff;
    padding: 20px;

}

.main{
    background: #fff;
    padding:20px;
    width: 70%;
    float: left;
}

aside{
    background: #e8c547;
    color: #fff;
    width: 30%;
    float: left;
    padding: 20px;
}

footer{
    clear: both;
    background: #4d5061;
    padding: 20px;
    color: #fff;
}