/* *{
    color: red;
} */

h1,h2,h3{
    color: blue;
}

div p{
    font-size: 20px;
}

div article p{
    font-size:16px;
    color:green;
}

div p a{
    color: red;
    font-size: 25px;
}

.grande{
    font-size: 28px;
}

#rojo{
    color: red;
}