/* 
Selector universal
*{
    color:red;
} 
*/

h1,h2{
    color:blue;
}

p{
    
}

div  p{
    
}

div article p{
    font-size: 20px;
    color:black; 
}

div p a{
    color:red;
}

.grande{
    font-size: 28px;
}

.rojo{
    color:red;
}



