.caja{
    background: #ffaa5a;
    width: 200px;
    height: 200px;
    /* transform: translate(300px); */
    /* transform: scale(2,2); */
    /* transform: rotate(20deg); */
    /* transform: skew(0deg,75deg); */
    transform: translate(200px) scale(1.5, 1.5) rotate(10deg);
    

}

/* Cosas que podemos hacer con transform:
- Trasladar elementos
- Escalar elementos
- Rotar elementos
-Sesgar elementos */
