<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout Basica</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">
            <div class="imagen">
                <img src="img/bg.jpg" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del articulo</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt mollitia assumenda itaque minus impedit! Iste consequuntur cumque eligendi ut blanditiis repellendus saepe id possimus veniam, ex officia quisquam. Mollitia, sunt.</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt mollitia assumenda itaque minus impedit! Iste consequuntur cumque eligendi ut blanditiis repellendus saepe id possimus veniam, ex officia quisquam. Mollitia, sunt.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est, necessitatibus harum cupiditate aliquam repellendus totam facilis molestiae eaque rerum ea illo impedit perferendis. Error in facere atque, suscipit reprehenderit dolor.</p>
                </article>
            </section>
        </section>
        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3 class="titulo">Información</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo pariatur, ea earum consectetur mollitia dignissimos officiis cum aliquam nobis veniam maxime atque id! Voluptate, nesciunt rem provident recusandae sequi voluptates?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, suscipit? Assumenda non doloremque quaerat architecto tempora fugit, corporis dolores! Minus aliquid odit officia qui maxime earum, error voluptatum sunt deleniti.

                </p>
            </div>
        </aside>

        <footer>
            <p>Néstor Bardel 2018 - Todos los derechos reservados</p>
        </footer>
    </div>
</body>
</html>