<h1>Alumno</h1>
<h4>{{alumno.nombre}}</h4>
<hr>
<div class="row">
	<form ng-submit="guardarAlumno()">
		
		Codigo:
		<br>
		<input type="text" class="form-control" readonly="readonly" ng-model="alumno.codigo">
		<br>
		Nombre:
		<br>
		<input type="text" class="form-control" ng-model="alumno.nombre" required>
		<br>
		Telefono:
		<br>
		<input type="text" class="form-control" ng-model="alumno.telefono" ui-mask="{{telefonoMask}}" required>
		<br>
		Direccion:
		<br>
		<textarea class="form-control" ng-model="alumno.direccion" required></textarea>
		<br>
		<button type="submit" class="btn btn-primary">Guardar Cambios</button>
	</form>


</div>