<h1>Alumnos</h1>
<h4>Listado de alumnos en el Sistema</h4>
<hr>
<div class="row" align="right">
	<a href="#/alumno/nuevo" class="btn btn-primary"><i class="fa fa-user-plus"></i> Crear Alumno</a>
</div>
<div class="row">
	<div class="col-12">
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Nombre</th>
					<th>Telefono</th>
					<th>Ver</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="alumno in alumnos | limitTo:posicion | limitTo:-5">
					<td>{{alumno.codigo}}</td>
					<td>{{alumno.nombre}}</td>
					<td>{{alumno.telefono | telefono}}</td>
					<td><a href="#/alumno/{{alumno.codigo}}">Ver registro</a></td>
				</tr>
			</tbody>
		</table>
		<br>
		<button class="btn btn-primary" ng-click="anterior()"><i class="fa fa-chevron-left"></i> Anterior</button>
		<button class="btn btn-primary" ng-click="siguiente()">Siguiente <i class="fa fa-chevron-right"></i></button>
	</div>
</div>

<!-- {{alumnos | json}} -->