<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/lib/angular.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>ng-model</h1>
		<h4>en angularJS</h4>
		<p>
			Su nombre: {{nombre | uppercase}}
			<input type="text" ng-model="nombre" class="form-control" name="ingrese su nombre">
		</p>
		<p>
			Seleccione el pais{{pais}}
			<select name="" class="form-control" ng-model="pais" multiple>
				<option value="1">Costa Rica</option>
				<option value="2">Mexico</option>
				<option value="3">Colombia</option>
			</select>
		</p>
		<p>
			Seleccione las opciones que desee:{{opt1}}{{opt2}}
			<br>
			<input type="checkbox" name="" ng-model="opt1">opcion 1
			<br>
			<input type="checkbox" name="" ng-model="opt2" value="">opcion 2
		</p>
		<p>
			Seleccione el sexo:{{genero}}
			<br>
			<input type="radio" name="genero" ng-model="genero" value="M" placeholder="">Masculino
			<br>
			<input type="radio" name="genero" value="F" ng-model="genero" placeholder="">Femenino
		</p>
	</div>
</body>
</html>