*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #051923;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
}

header{
    background: #006494;
    margin-bottom: 25px;
}

.menu{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}


.menu li{
    display: inline-block;
}

nav .menu a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 18px;
}

nav .menu a:hover{
    background: #0582CA;
}

.contenido{
    color: #fff;
}
.componente{
    width: 250px;
    height: 135px;
    display:inline-block;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 30px;
}
.componente .thumb{
    width: 55%;
    height: 100%;
    /* display: inline-block; */
    float: left;
 
}


.thumb img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    opacity: 0.5;
    
}

.thumb img:hover{
    opacity: 1;
}

.componente .descripcion{
    /* display: inline-block; */
    width: 40%;
    height: 100%;
    float: right;
}

.img-group{
    /* margin-bottom: 30px; */
}

.contenido-izquierda{
    float: left;
    width: 45%;
}

.contenido-derecha{
    float: right;
    background: #fff;
    width: 55%;
    height: 100%;
}




