*{
    padding: 0;
    margin: 0;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #051923;
}

.contenedor{
    width: 90%;
    margin: 0 auto;
}

header{
    background: #006494;
}

.menu{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
}


.menu li{
    display: inline-block;
}

nav .menu a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
}

nav .menu a:hover{
    background: #0582CA;
}

.contenido{
    color: #fff;
}

.thumb{
    width: 150px;
    display: inline-block;
    margin: 20px;
 
}

.thumb img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    opacity: 0.5;
    
}

.thumb img:hover{
    opacity: 1;
}

