.contenedor{
    text-align: center;
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 15px 25px;
    background: none;
    border: 1px solid rgb(36, 102, 189);
    color: rgb(36, 102, 189);
    border-radius: 10px;
}

.btn:hover{
    background: rgb(36, 102, 189);
    color: #fff;
}