.contenedor{
    text-align: center;
}

button{
    padding: 10px 20px;
    border: 1px solid rgb(39, 84, 143);
    background: none;
    color:  rgb(39, 84, 143);
    font-size: 25px;
    border-radius: 10px;
}

button:hover{
    background:  rgb(39, 84, 143);
    color: #fff;
}