<!DOCTYPE html>
<html lang="en" ng-app='appPrincipal' ng-controller='ctrlPrincipal'>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Acumulador</title>

    <style>
        .negativo {
            color: red;
        }
        
        .positivo {
            color: #33f;
        }
        
        .titularpeq {
            font-size: 10pt;
        }
        
        .titulargran {
            font-size: 18pt;
        }
        
        .uno {
            background-color: #666;
        }
        
        .dos {
            color: #fff;
        }
        
        .tres {
            font-size: 30px;
        }
    </style>
</head>

<body>
    <p><input type="checkbox" name="" ng-model="activo" ng-change="avisar()" id=""> Este campo es activo y su valor es: {{activo}}
    </p>
    <br>
    <p><input type="checkbox" name="" ng-model="claroOscuro" ng-true-value="claro" ng-false-value="oscuro" id=""> Este campo cambia su valor a : {{claroOscuro}}
    </p>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script>
        var app = angular.module('appPrincipal', []);
        app.controller('ctrlPrincipal', ['$scope', function($scope) {
            $scope.activo = false;
            $scope.claroOscuro;
            $scope.avisar = function() {
                console.log('cambie');
            };
        }]);
    </script>
</body>

</html>