@keyframes colores{
    /* from{background: #9eb3c2;}
    to{background: #21295c;} */
    0%{background: #9eb3c2;}
    50%{background: #21295c;}
    100%{background: #9eb3c2;}
}

@keyframes movimiento{
    0%{transform:translate(0px);}
    50%{transform: translate(500px);}
    100%{transform: translate(0px);}
}

.caja{
    width: 200px;
    height: 200px;
    background: #9eb3c2;
    /* animation-name: movimiento;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    animation: movimiento 5s ease infinite;
}