div{
    background: #226fc1;
    width: 200px;
    height: 200px;
    margin: 20px;
    display: inline-block;
}

.caja1{
    border: 7px solid #000;
    border-radius: 30px;
}

.caja2{
    border: 7px dotted #000;
    border-radius: 0 30px 70px 10px;
}

.caja3{
    border: 7px dashed #000;
}

.caja4{
    border: 7px inset #000;
}

