div{
    background: #226fc1;
    width: 200px;
    height: 200px;
    margin: 20px;
    display:inline-block;
}

.caja1{
    border:7px solid #000;
    border-radius: 20px;
}
/* Si colocamos un solo valor redondea en las 4 esquinas con el mismo valor */
.caja2{
    border:7px dotted #000;
    border-radius: 0px 10px 30px 50px;
}
/* Tambien podemos poner 4 valores empezando de arriba a la izquierda en el sentido del reloj */
.caja3{
    border: 7px dashed #000;
}
.caja4{
    border:7px double #000;
    border-radius: 100%;
}
/* A las cajas cuadradas podemos ponerle un valor del 100% para hacer un circulo */

