body{
    /* background:black; */
    /* background:url(/img/bg.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;
    background-attachment: fixed;
    background-position: center; */
    /* background: url(/img/bg.jpg) no-repeat fixed center center; 
    background-size:cover; */
    background: url("/img/eight_horns.png");
    background-repeat: repeat;
    background-attachment: scroll;
}

/* .fondo{
    width: 600px;
    height: 600px;
    background:url("/img/bg.jpg") #000;
    background-repeat: no-repeat;
    background-size: cover;
} */