body{
    /* background: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center; */
    /* background: url("img/bg.jpg") no-repeat fixed center;
    background-size: cover; */
    background: url("img/eight_horns.png");
    background-repeat: repeat;
}