*{
    padding: 0;
    margin: 0;
}

body{
    background: #000500;
}

.galeria{
    width: 100%;
}

.galeria img{
    vertical-align: top;
    width: 400px;
    margin: 20px;
    border: 1px solid #484848;
    opacity: 0.5;
    padding: 5px;
}

.galeria img:hover{
    border: 1px solid #fff;
    opacity: 1;
}