body{
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    background: #4357ab;
    width: 200px;
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu li{
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.menu li a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding:20px;
}

.menu li a:hover{
    background: #4888d6;
}