/*Colores
body: #e8e8e8;
menu: #092327;
hover:#ef8354;
*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #e8e8e8;
}

.menu{
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    background: #092327;
    margin: 0px auto;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px;
    font-weight: bold;

}

.menu li a:hover{
    background: #ef8354;
}



