*{
    padding: 0;
    margin: 0;
}

body{
    /* color: #fff; */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}

.caja{
    background: #0353a4;
    width: 200px;
    /* height: 200px; */
    margin: 20px;
    padding: 20px 0;

    border: 2px solid #000;

}

.caja p{
    background: #eeeeee;
}