*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 1000px;
    background: #ccc;
    margin: 20px auto;
}

header{
    background: #30323d;
    padding: 20px;
    color: #fff;
}

.main{
    background: #fff;
    width: 700px;
    padding: 20px;
    float: left;
}

aside{
    background: #e8c547;
    width: 300px;
    color: #fff;
    padding: 20px;
    float: left;
}

footer{
    clear: both;
}