body{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    letter-spacing: 10px;
    word-spacing: 50px;
    line-height: 30px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    font-weight: normal;
    color:#4281ed;
    text-align: center;
    text-decoration: underline;
    text-transform:uppercase;
}