.caja{
    background: #ffaa5a;
    width: 200px;
    height: 200px;
    /* transform: translate(200px,50px); */
    /* transform: scale(2,2); */
    /* transform: rotate(20deg); */
    /* transform: skew(20deg,10deg); */
    transform: translate(100px) scale(2,2) rotate(20deg);
}