<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout Basica</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">
            <div class="imagen">
                <img src="img/bg.jpg" alt="">
            </div>

           <section class="posts">
               <article>
                   <h2>Titulo del Articulo</h2>
                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos odit debitis quibusdam voluptate error inventore, veritatis quas, vitae nemo odio animi illo voluptatum velit cum in reprehenderit suscipit obcaecati adipisci?</p>

                   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos odit debitis quibusdam voluptate error inventore, veritatis quas, vitae nemo odio animi illo voluptatum velit cum in reprehenderit suscipit obcaecati adipisci?</p>
               </article>
           </section> 
        </section>

        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos Destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3 class="titulo">Información</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque ut accusantium nisi, laudantium ex delectus deleniti est doloribus nobis aperiam necessitatibus incidunt, temporibus nam reiciendis vitae. Assumenda, nulla recusandae.
                </p>
            </div>
        </aside>

        <footer>
            <p>Nestor Bardel 2018 - Todos los derechos reservados</p>
        </footer>
    </div>
</body>
</html>