<mat-card>
        <mat-card-title>Mapa</mat-card-title>
    <mat-card-content>
        <agm-map (mapClick)="agregar($event)" [latitude]="lat" [longitude]="lng"[zoom]="15" >
            <agm-marker *ngFor="let marcador of marcadores; let i = index" [latitude]="marcador.lat" [longitude]="marcador.lng" >
                <agm-info-window [disableAutoPan]="true">
                    <strong>Titulo</strong>
                    <p>Lorem ipsum dolor sit</p>
                    <button mat-raised-button color="primary" type="button" (click)="editarMarcador(marcador)" >Editar</button>
                    <button mat-raised-button color="warn" type="button" (click)="borrarMarcador(i)" >Borrar</button>
                </agm-info-window>
            </agm-marker>
        </agm-map>
    </mat-card-content>
</mat-card> 