<div class="row">
	<div class="col-12">
		<h2>Alumno</h2>
		{{alumno.nombre}}
		<hr>
		<form>
			<div class="form-group">
			    <label for="nombre">Codigo:</label>
			    <input type="text" class="form-control" ng-model="alumno.codigo" id="codigo" placeholder="" readonly>
		 	</div>
			<div class="form-group">
			    <label for="nombre">Nombre:</label>
			    <input type="text" class="form-control" id="nombre" ng-model="alumno.nombre" placeholder="Ingrese el nombre">
		  	</div>
		  	<div class="form-group">
			    <label for="telefono">Telefono:</label>
			    <input type="text" class="form-control" id="telefono" ng-model="alumno.telefono" placeholder="Ingrese el telefono">
		    </div>
		  	<div class="form-group">
			  	<label for="direccion">Direccion:</label>
			  	<textarea name="direccion" class="form-control" ng-model="alumno.direccion"></textarea>
		  	</div>
		  	<input type="submit" value="Guardar" class="btn btn-primary">
		</form>
	</div>
</div>