*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.selector{
    display: flex;
    height: 80px;
    justify-content: center;
}

.valor{
    display: inline-flex;
    height:80px;
    width: 40px;
    background: #000;
    color: #fff;
    font-size: 30px;
    padding: 10px;
    align-items: center;
}

button{
    height: 80px;
    padding: 10px;
}

