<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Evaluacion</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/lib/angular.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>Evaluacion</h1>
		<h4>Angular 101</h4>
		<hr>
		<p>
			Nombre completo:
			<input type="text" ng-model="nombre" name="" value="" class="form-control" placeholder="">
		</p>
		<p>
			Lugar de Trabajo:
			<input type="text" ng-model="trabajo" class="form-control" name="" value="" placeholder="">
		</p>
		<p>
			Salario en dolares:
			<input type="text" ng-model="salario" name="" value="" placeholder="" class="form-control">
		</p>
		<hr>
		Nombre: {{nombre | uppercase}}
		<br>
		Lugar de Trabajo: {{trabajo | lowercase}}
		<br>
		Con un salario de: {{salario | currency}}
	</div>
</body>
</html>